* {
    box-sizing: border-box; 
    /*content-box랑 border-box두가지 선택이 가능. content-box는 지정한 크기가 요소만의 크기가 되는데 border-box는 요소+padding+border의 크기가 된다.*/
}

body {
    margin: 0;
    font-family: sans-serif;
}


header {
    background: aliceblue;
    margin: auto;
    width: 1080px;
    height: 215px;
    display: flex;
    position: relative;/**/
}

main {
    background-color: lightgray;
    min-height: 700px;
}

footer {
    background: darkgray;
    width: 1080px;
    height: 310px;
    display: flex;
    margin: auto;
}

.container {
    background-color: yellow;
}