a{text-decoration: none;}

header{
    width : 800px;
    height: 95px;
}

.doheader {
    top: 20px;
    height: 20px;
    border-bottom: 1px solid black;
    display: flex;
    align-items: center;
    font-size: 36px;
}
